@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|PT+Serif');

body {
  margin: 0 auto;
}

section {
  height: 95vh;
}

#work {
  height: 100vh;
}

#banner{
  height: 10vh;
  background-color: #FFF;
}

#banner img{
  height: 25px;
  width: 165px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

#main {
  background: url("images/main.jpeg")
  no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-text {
  padding-top: 8%;
}

.main-text h1 {
  font-family: 'PT Serif', serif;
  font-weight: 800;
  color: #F2F2F2;
  margin-left: 22%;
  font-size: 3rem;
}

.sub-text p {
  font-family: 'Libre Franklin', sans-serif;
  color: #F2F2F2;
  margin-left: 22%;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 150%;
}

button {
  background-color: #71C5E8;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5%;
  border-style: none;
  margin-left: 22%;
}

button a {
  font-family: 'Libre Franklin', sans-serif;
  color: #F2F2F2;
  text-decoration: none;
  font-size: 0.6rem;
}

.scroll-bottom i {
  margin-top: 28vh;
  margin-left: 50%;
  margin-right: auto;
}

.fa-angle-down {
  color: #FFF;
  font-size: 1.7rem;
}

#about {
  background: url("images/office.jpeg")
  no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gridOne {
  float: left;
  height: 50%;
  width: 45%;
}

#gridTwo {
  float: right;
  height: 50%;
  width: 55%;
}

#gridThree {
  float: left;
  height: 50%;
  width: 55%;
}

#gridOne img, #gridTwo img, #gridThree img {
  height: 100%;
  width: 100%;
}

#gridFour {
  background-color: #F0F0F0;
  float: right;
  height: 50%;
  width: 45%;
}

#gridFour img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  height: 50%;
  width: 50%;
}

#clients {
  background-color: #FFF;
  height: 50vh;
}

.clients {
  margin: 10%;
}

.clients h2 {
  font-family: 'PT Serif', serif;
  font-weight: 800;
  color: #002C45;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.clients .flex-container div {
  width: 20%;
}

.clients img {
  height: 70%;
  width: 67%;
}

#logo-three img {
  height: 83% !important;
  width: 60% !important;
}

#contact_us {
  background-color: #E9E9E9;
}

.back-to-top {
  padding-top: 3%;
  text-align: center;
}

.back-to-top small {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.6rem;
}

.back-to-top a {
  color: black;
}

.back-to-top i {
  font-size: 1.7rem;
}

.contact-logo {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  display: block;
  text-align: center;
}

.contact-logo h1 {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.contact small {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0;
  font-size: 0.7em;
  letter-spacing: 1.5px;
}

.contact .flex-container div {
  margin-left: auto;
  margin-right: auto;
  width: 13%;
}

.contact h5 {
  font-weight: 900;
  font-family: 'PT Serif', serif;
}

.contact p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.6em;
  line-height: 150%;
}

.contact a {
  text-decoration: none;
  color: #71C5E8;
}

.contact-enquiry {
  display: flex;
  text-align: center;
  margin-top: 4%;
  margin-left: 37%;
}

.contact-enquiry h1 {
  font-family: 'PT Serif', serif;
  color: #002856;
}

#blue-circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 0% 2%;
  background-color: #71C5E8;
}

.fa-envelope {
  color: #FFF;
  font-size: 1.8rem;
  padding-top: 23px;
}

.social {
  margin-left: 42%;
  margin-right: auto;
}

.social div {
  width: 4% !important;
  margin-top: 8%;
  margin-left: 0.5% !important;
  margin-right: 0.5% !important;
}

.social img {
  height: auto;
  width: 20px;
}

.copyright {
  font-family: 'Libre Franklin', sans-serif;
  color: #91A0B4;
  font-size: 0.5rem;
  margin-bottom: 0;
  margin-top: 3%;
  margin-left: 43%;
}
